<div class="main-controls-container">
  <div class="row">
    <div class="col-sm-3 current-song-container vertically-center">
      <div class="content-container vertically-center">
        <div class="img-container">
          <img class="img-fluid" [src]="songs[currentSongIndex].albumSrc" alt="">
        </div>
        <div class="song-info-container">
          <p class="song-title">{{ songs[currentSongIndex].name }}</p>
          <p class="song-artist">{{ songs[currentSongIndex].artist}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 player-container vertically-center">
      <div class="content-container">
        <div class="controls-container">
          <ul class="controls-list">
            <li class="control-item position-center" (click)="onNavPlayer('back')">
              <i class="fas fa-step-backward"></i>
            </li><!--
            --><li class="control-item" (click)="onTogglePlay()">
              <span *ngIf="!playing">
                <i class="far pause-play-btn fa-play-circle"></i>
              </span>
              <span *ngIf="playing">
                <i class="far pause-play-btn fa-pause-circle"></i>
              </span>
            </li><!--
            --><li class="control-item position-center" (click)="onNavPlayer('forward')">
              <i class="fas fa-step-forward"></i>
            </li>
          </ul>
          <audio [src]="songs[currentSongIndex].src" #myAudio></audio>

        </div>

        <div class="progress-container">
          <div class="inline-container time-container">
            <span class="time">{{ audio.currentTime | time }}</span>
          </div><!--
          --><div class="inline-container slider-container">
            <mat-slider
              class="progress-bar"
              [max]="audio.duration"
              [(ngModel)]="audio.currentTime"></mat-slider>
          </div><!--
          --><div class="inline-container time-container">
            <span class="time">{{ audio.duration - audio.currentTime | time }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 volume-container vertically-center">
      <div class="row content">
        <div class="content col-sm-12">
          <div class="volume-icon" *ngIf="audio.volume > 0.5">
            <i class="fas fa-volume-up"></i>
          </div>
          <div class="volume-icon" *ngIf="audio.volume <= 0.5 && audio.volume > 0.01">
            <i class="fas fa-volume-down"></i>
          </div>
          <div class="volume-icon" *ngIf="audio.volume == 0">
            <i class="fas fa-volume-off"></i>
          </div>
          <mat-slider
            class="volume-bar"
            [max]="1"
            [step]="0.01"
            [(ngModel)]="audio.volume"></mat-slider>
        </div>
      </div>
    </div>
  </div>
</div>
